.places__link{
  padding: 12px 0 0 0;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.places__link:hover{
  opacity: .8;
}
