.cover__subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;

  box-sizing: border-box;
  padding: 32px 0 0 0;
  margin: 0 auto;
  text-decoration: none;

  max-width: 360px;
}

@media screen and (max-width: 520px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0 0 0;
  }
}
