.header__logo{
    background: url(../../../images/logo.svg) no-repeat center;
    background-size: contain;
    height: 52px;
    width: 176px;
}

@media screen and (max-width: 340px) {
    .header__logo{
        width: 142px;
        height: 42px;
    }
}
