.header__logo{
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 176px;    
}

@media screen and (max-width: 340px) {
    .header__logo{
        width: 142px;
    }
}