.header{
    max-width: min(1184px, calc(100% - 96px));
    height: 52px;
    padding-top: 28px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header{
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 340px) {
    .header{
        max-width: calc(100% - 32px);
        height: 42px;
        padding-top: 16px;
    }

}
