.cover__title{
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;

  box-sizing: border-box;
  padding:0;
  margin: 0 auto;
  max-width: 560px;

  text-decoration: none;
  z-index: 3;
}

@media screen and (max-width: 520px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
  }
}
